################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testcalll/bin
/testcalll/obj
/webcall/bin 
/webcall/obj 
/.vs